extends layout

block content
  head
    title= title
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    // Font Awesome Icons
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
  body.bg-light
    d #{locals.lambdaCode}
    //- .div.row.mt-4.mr-2.ml-2
    //-   .div.col-sm-6
    //-     .card
    //-       .card-body
    //-         .div.row.d-flex.justify-content-around
    //-           .div
    //-             h2.card-title JSON Generated from Blockly
    //-             br
    //-           .div
    //-             button.btn.btn-primary(type='button') Copy
    //-         p.card-text #{locals.skillJSON}
    //-   .div.col-sm-6
    //-     .card
    //-       .card-body
    //-         .div.row.d-flex.justify-content-around
    //-           .div
    //-             h2.card-title Lambda Code
    //-             br
    //-           .div
    //-             button.btn.btn-primary(type='button') Copy
    //-         p.card-text #{locals.lambdaCode}

